/* General */
* {
  font-family: "Space Mono", monospace;
  color: white;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("img/stars.jpeg");
  margin-top: 10rem;
}

a {
  text-decoration: none;
}

/* Header */
.header-container {
  display: flex;
  padding: 1rem 2em;
  text-align: center;
  position: fixed;
  top: 0;
  background-image: url("img/stars.jpeg");
  box-shadow: 0px 4px 12px 0px rgba(30, 30, 30, 0.6);
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.logo-header {
  display: flex;
  flex-direction: column;
}

.text-header {
  font-size: 1.5rem;
}

.image-header {
  max-width: 10em;
  margin: 0 auto;
}

/* Nav */
.header-nav {
  display: flex;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.header-menu-item {
  margin: 0 0.5rem;
  padding: 10px 26px;
  border: #8a00ff solid 2px;
  background-color: #0000006e;
  font-weight: 900;
}

.header-menu-item:hover {
  background-color: #ffd43a;
  border: #ffd43a solid 2px;
}

.header-menu-item a {
  color: #8a00ff;
}

.header-menu-item a:active {
  color: #ff4b1e;
}

/* Grid */
.section-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
  padding: 1rem;
}

.box {
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.box-yellow {
  border: 4px solid #ffd43a;
}
.box-verde {
  border: 4px solid #00bd64;
}

.box-title {
  color: black;
  padding: 4px;
}

.yellow {
  background-color: #ffd43a;
}
.verde {
  background-color: #00bd64;
}

.box-image {
  max-width: 60%;
}

.box-container {
  display: flex;
  gap: 1rem;
}

.box-container p {
  margin: 1.5rem;
}
.box-container .text-yellow {
  color: #ffd43a;
}

/* Footer */
footer {
  background-image: url(img/stars.jpeg);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px;
}
