/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Space Mono", monospace;
  color: white;
}
:root {
  --color-yellow: #ffd43a;
  --color-green: #00bd64;
  --color-red: #ff4b1e;
  --color-purple: #8a00ff;
  --color-blue: #69d4fa;
  --color-pink: #f091ea;
  --color-bg: #0e0e0eb6;
}

/* Global */
body {
  background-image: url(img/stars.jpeg);
  margin-top: 6rem;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  position: absolute;
  top: 500px;
  right: 0;
  font-size: 38px !important;
  font-weight: 900 !important;
}

/* Header */
.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  background-image: url("img/stars.jpeg");
  box-shadow: 0px 4px 12px 0px rgba(30, 30, 30, 0.6);
  width: 100%;
  padding: 1rem 0 1rem 2rem;
  text-align: center;
  z-index: 1000;
}

.header__logo {
  display: flex;
  flex-direction: column;
}

.header__image {
  max-width: 6em;
  margin: 0 auto;
}

.site__nav {
  display: flex;
  overflow: scroll;
}

.site__nav__menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.site__nav__menu-item {
  margin: 0 0.5rem;
  padding: 10px 26px;
  border: #8a00ff solid 3px;
  background-color: #0000006e;
  font-weight: 900;
}

.site__nav__menu-item:hover {
  background-color: var(--color-yellow);
  border: var(--color-yellow) solid 2px;
}

.site__nav__menu-item a {
  color: #8a00ff;
}

.site__nav__menu-item a:active {
  color: #ff4b1e;
}
/* Marquee */
.marquee {
  overflow: hidden;
  display: flex;
  padding: 1rem 0;
  background-color: var(--color-bg);
}

@keyframes marquee {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}

.marquee__content {
  translate: 100%;
  width: 100%;
  flex-shrink: 0;
  animation: marquee 10s linear infinite;
}

/* Cards */
.section__cards {
  display: flex;
  padding: 1.5rem;
  gap: 1rem;
  overflow: scroll;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.cards {
  text-align: left;
  max-width: 100%;
  overflow: scroll;
  scroll-snap-align: center;
  flex-shrink: 0;
  height: 100vh;
  background-color: var(--color-bg);
}
.cards__container-images {
  object-fit: cover;
}
.cards__content--image {
  width: 100%;
}

.card__content-text {
  margin: 1.2rem;
}

.cards--title {
  padding-left: 1rem;
  font-size: 1.3rem;
  color: #1e1e1e;
}
/* yellow */
.border-yellow {
  border: var(--color-yellow) 4px solid;
}
.border-yellow span {
  color: var(--color-yellow);
}
.border-yellow .cards--title {
  background-color: var(--color-yellow);
}

/* green */
.border-green {
  border: var(--color-green) 4px solid;
}
.border-green .cards--title {
  background-color: var(--color-green);
}
.border-green span {
  color: var(--color-green);
}

/* purple */
.border-purple {
  border: var(--color-purple) 4px solid;
}
.border-purple .cards--title {
  background-color: var(--color-purple);
}
.border-purple span {
  color: var(--color-purple);
}

/* Footer */
footer {
  background-image: url(img/stars.jpeg);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px;
}

/* Responsive */
@media (min-width: 1280px) {
  /* responsive- global */
  body {
    margin-top: 8rem;
  }
  .material-symbols-outlined {
    display: none !important;
  }

  /* responsive- header */
  .header__image {
    max-width: 10em;
    margin: 0 auto;
  }

  /*responsive-nav*/
  .site__nav {
    overflow: none;
  }

  /* responsive-cards */
  .section__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .cards {
    max-height: 90vh;
  }

  .border-green .cards__container-images {
    object-fit: cover;
    width: 230vw;
  }
  .cards__content {
    padding: 0;
    display: flex;
  }

  .card__content-text {
    margin: 1rem;
  }
}
