body {
  margin-top: 10em;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-header {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.image-header {
  max-width: 27em;
  margin: 2rem auto;
}

.header-nav {
  margin: 2rem;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 4rem;
  flex-wrap: nowrap;
}

.header-menu-item {
  font-size: 1.3rem;
}
